{% extends 'layout.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
	{#<header>
        <h1>{{ pageData.title }}</h1>
    </header>
    {% for ticket in tickets %}
    <article>
        <h2>{{ ticket.title }}</h2>
    </article>
    {% endfor %}#}
    <p>Hello</p>
{% endblock %}